In [15]:
from bs4 import BeautifulSoup
import pandas as pd
import urllib.request
import datetime

In [2]:
num_of_reviews = 7500
count = 0
page = 0

date = []
review = []
rating = []

while num_of_reviews > count:
    
    error = True
    while error:
        try:
            page +=1
            url = 'https://www.indeed.com/cmp/Ford-Motor-Company/reviews?start={}'.format(page*10)
            ourUrl = urllib.request.urlopen(url)
            soup = BeautifulSoup(ourUrl,'html.parser')
            error = False
        except Exception:
            error = True

    for s1 in soup.find_all('div',{'data-tn-section':'reviews'}):
        #rating
        rating.append(int(str(s1.find('meta',{'itemprop':'ratingValue'}))[15]))

        #review
        review.append(s1.find('span',{'class':'css-82l4gy eu4oa1w0'}).text +' '+s1.find('span',{'class':'css-1cxc9zk e1wnkr790'}).text)

        #date
        date.append(s1.find('span',{'class':'css-xvmbeo e1wnkr790'}).text.split("-")[-1][1:])

        count +=1

In [33]:
df_Ford = pd.DataFrame(list(zip(date,rating,review)),columns = ['Date','Rating','ReviewText'])
#df_Ford.to_csv("Indeed.csv")
df_Ford.Rating.value_counts()

NameError: name 'df_FordRating' is not defined

In [4]:
num_of_reviews = 8300
count = 0
page = 0

date = []
review = []
rating = []

while num_of_reviews > count:
    
    error = True
    while error:
        try:
            page +=1
            url = 'https://www.indeed.com/cmp/Toyota/reviews?start={}'.format(page*10)
            ourUrl = urllib.request.urlopen(url)
            soup = BeautifulSoup(ourUrl,'html.parser')
            error = False
        except Exception:
            error = True

    for s1 in soup.find_all('div',{'data-tn-section':'reviews'}):
        #rating
        rating.append(int(str(s1.find('meta',{'itemprop':'ratingValue'}))[15]))

        #review
        review.append(s1.find('span',{'class':'css-82l4gy eu4oa1w0'}).text +' '+s1.find('span',{'class':'css-1cxc9zk e1wnkr790'}).text)

        #date
        date.append(s1.find('span',{'class':'css-xvmbeo e1wnkr790'}).text.split("-")[-1][1:])

        count +=1

In [5]:
df_Toyota = pd.DataFrame(list(zip(date,rating,review)),columns = ['Date','Rating','ReviewText'])
df_Toyota

,Date,Rating,ReviewText
0,"November 17, 2020",5,Awesome workplace I enjoy my job at Toyota. I...
1,"December 1, 2021",3,Good company but not great Good company but it...
2,"November 23, 2021",3,"Decent opportunities, very set in their ways. ..."
3,"November 20, 2021",5,Finance manager Great company actually in my 2...
4,"November 20, 2021",4,Schedule There is a rotating schedule. You wil...
...,...,...,...
8311,"February 10, 2013",4,non challenging workplace with tedious job fun...
8312,"February 9, 2013",5,Productive and fun workplace Worked on the ass...
8313,"February 8, 2013",4,Laid back work place Great co-workers. All of ...
8314,"February 6, 2013",4,"Easy and fun It's a very fast working place, I..."
8315,"February 6, 2013",5,Solid company with excellent benefits and room...

In [6]:
df_Ford.to_csv("IndeedFord.csv")
df_Toyota.to_csv('IndeedToyota.csv')

In [13]:
df_Toyota['Date']

0       November 17, 2020
1        December 1, 2021
2       November 23, 2021
3       November 20, 2021
4       November 20, 2021
              ...
8311    February 10, 2013
8312     February 9, 2013
8313     February 8, 2013
8314     February 6, 2013
8315     February 6, 2013
Name: Date, Length: 8316, dtype: object

In [17]:
df_Toyota.Date = df_Toyota.Date.apply(lambda x: datetime.datetime.strptime(x, "%B %d, %Y") )

In [25]:
every = pd.read_csv('EveryAutoFord.csv')

In [26]:
every.drop(columns= every.columns[0],inplace=True)

In [28]:
every.Date = every.Date.apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d"))

In [31]:
every.Date[1]

Timestamp('2021-09-15 00:00:00')

In [38]:
df_Toyota.sort_values('Date')

           Date  Rating                                         ReviewText
8315 2013-02-06       5  Solid company with excellent benefits and room...
8314 2013-02-06       4  Easy and fun It's a very fast working place, I...
8313 2013-02-08       4  Laid back work place Great co-workers. All of ...
8312 2013-02-09       5  Productive and fun workplace Worked on the ass...
8311 2013-02-10       4  non challenging workplace with tedious job fun...
...         ...     ...                                                ...
5    2021-11-20       2  Could be better Pay could definitely be better...
4    2021-11-20       4  Schedule There is a rotating schedule. You wil...
3    2021-11-20       5  Finance manager Great company actually in my 2...
2    2021-11-23       3  Decent opportunities, very set in their ways. ...
1    2021-12-01       3  Good company but not great Good company but it...

[8316 rows x 3 columns]