In [1]:
import pandas as pd 
import numpy as np
from nltk.sentiment import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()
employee_toyota = pd.read_csv('C:\\Users\\sejal\\Documents\\Fall Courses\\Web Analytics\\Project\\Data\\employee_toyota.csv')
employee_toyota.dropna(how = 'any',inplace=True)
df = list(employee_toyota.review)

In [2]:
dicti = []
for i in df:
    try:
        dicti.append(sia.polarity_scores(i))
    except:
        print(i)

In [3]:
neu = []
comp = []
neg = []
pos = []

for i in dicti:
    neg.append (i.get('neg'))
    pos.append (i.get('pos'))
    neu.append (i.get('neu'))
    comp.append (i.get('compound'))

In [4]:
employee_toyota['positive'] = pos
employee_toyota['negative'] = neg
employee_toyota['compound'] = comp
employee_toyota['neutral'] = neu

In [5]:
employee_toyota

,date,rating,review,positive,negative,compound,neutral
0,2008-06-18,2.0,Don't do it It's a steady paycheck and there a...,0.160,0.074,0.9276,0.766
1,2008-09-22,3.0,A good place to to gain valuble experience in ...,0.174,0.102,0.8278,0.724
2,2008-09-30,3.0,Not too bad. Supposed work/life balance. You ...,0.163,0.152,0.0971,0.685
3,2008-10-03,3.0,A fair place to be. Great experience about the...,0.225,0.109,0.9149,0.666
4,2008-10-16,2.0,"High expectations, mediocre rewards. Stability...",0.266,0.034,0.9168,0.700
...,...,...,...,...,...,...,...
9751,2021-11-30,3.0,Sometimes good sometimes bad. Lots of confusio...,0.307,0.225,0.8300,0.468
9752,2021-11-30,5.0,Good Great working environment and good people...,0.524,0.000,0.9217,0.476
9753,2021-12-01,3.0,Good company but not great Good company but it...,0.134,0.216,-0.6737,0.649
9754,2021-12-02,3.0,"Toyota Purchasing Great Management team, the p...",0.169,0.034,0.8739,0.798
9755,2021-12-04,3.0,Mixed bag Work life balance is respectedCareer...,0.318,0.000,0.4939,0.682

In [6]:
employee_toyota.to_csv ('employeetoyotasentiment.csv', index = False)